.container-5{
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.flex-blackjack-row-1,.flex-blackjack-row-2,.flex-blackjack-row-3{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flex-blackjack-row-1,.flex-blackjack-row-2{
    background: url('https://i.pinimg.com/originals/26/81/27/2681273aec926429538eb661a9e6390d.jpg') center;
    color: #ffffff;
}
.flex-blackjack-row-1 div{
    border: 1px solid black;
    padding: 10px;
    flex: 1;
    text-align: center;
    height: 350px;
}
.flex-blackjack-row-1 img{
    width: 25%;
    padding: 10px;
}

.flex-blackjack-row-2 button{
    border: 1px solid black;
    padding: 10px;
}
.flex-blackjack-row-2 div{
    border: 1px solid black;
    padding: 10px;
}
table,td,th{
    padding: 5px;
    border: 1px solid black;
    
}